<html>


    <head>
        <link rel="stylesheet" type="text/css" href="../../../../../asset/static/prettify.css" />
        <link rel="stylesheet" type="text/css" href="../../../../../asset/static/style.css" />
        
        
        <script src="../../../../../asset/static/jquery.min.js"></script>
        <script src="../../../../../asset/static/prettify.js"></script>
        <script src="../../../../../asset/api_definition.js"></script>

        <script>var ZepCurrentPath = '../../../../../'</script>

        <script src="../../../../../asset/static/script.js"></script>

                
    </head>


    <body onload="prettyPrint()">
        <div id="top-bar">
            <div id="top-left">
                Zephir Documentation <span class="version">v1.0.1</span>
            </div>
            <div id="top-right">

            </div>
        </div>

        <div id="body">

            <div id="body-left">

                <div class="header-search">

                    <input class="search-box" placeholder="Search for a class or namespace " type="text" />
             
                    <div id="menu-wrapper">


                    </div>

                </div>

            </div>
            <div id="body-right">
                <div class="content">
                    
<div class="breadcrumb">
    
    <ul>
        
        <li><a href="../../../../../index.html">Home</a></li>
        
                <li><a href="../../../../../classes.html">Classes</a></li>
                <li><a href="../../../../../class/Ice/Mvc/View/Engine/EngineInterface.html">Ice\Mvc\View\Engine\EngineInterface</a></li>
                <li><a >Source</a></li>
                
    </ul>
    
</div>
<div class="class-header source clearfix">
    
    <div class="access-buttons">
        <a class="zep-button" href="../../../../../class/Ice/Mvc/View/Engine/EngineInterface.html">Class</a>

                <a class="zep-button" href="https://github.com/ice/framework/tree/master/ice/mvc/view/engine/engineinterface.zep">Github</a>
            </div>
    
    <div class="class-full-name">
        
        <span class="class-type">Class</span>
        
                <span class="namespace-piece">
            <a href="../../../../../namespace/Ice.html">Ice</a>
        </span>
                <span class="namespace-piece">
            <a href="../../../../../namespace/Ice/Mvc.html">Mvc</a>
        </span>
                <span class="namespace-piece">
            <a href="../../../../../namespace/Ice/Mvc/View.html">View</a>
        </span>
                <span class="namespace-piece">
            <a href="../../../../../namespace/Ice/Mvc/View/Engine.html">Engine</a>
        </span>
                <h1 class="class-name">EngineInterface</h1>
    </div>
    
</div>


<pre class="zephir-source-file prettyprint linenums">
namespace Ice\Mvc\View\Engine;

use Ice\Di;
use Ice\Mvc\View\ViewInterface;

/**
 * Engine interface.
 *
 * @package     Ice/View
 * @category    Interface
 * @author      Ice Team
 * @copyright   (c) 2014-2015 Ice Team
 * @license     http://iceframework.org/license
 */
interface EngineInterface
{

	public function __construct(<ViewInterface> view, <Di> di = null);

	public function render(string! path, array data = []);
}
</pre>                </div>
            </div>

        </div>

    </body>



</html>