<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="ice API doc" name="description">
    <title>
                    ice API Documentation
            </title>
    <link rel="stylesheet" type="text/css" href="../../../../../../asset/static/prettify.css" />

<script src="../../../../../../asset/static/prettify.js"></script>
<script src="../../../../../../asset/api_definition.js"></script>


                        <link rel="stylesheet" type="text/css" href="../../../../../../asset/static/prettify.css" />
                    <link rel="stylesheet" type="text/css" href="../../../../../../asset/static/zephir-theme.css" />
            
    

                        <script src="../../../../../../asset/static/prettify.js"></script>
                                    <script src="../../../../../../asset/api_definition.js"></script>
                    <script src="../../../../../../asset/static/jquery.min.js"></script>
                    <script src="../../../../../../asset/static/zephir-doc.js"></script>
                <script type="application/javascript">let ZepCurrentPath = '../../../../../../'</script>
    </head>
 <body onload="prettyPrint()">
        <div id="top-bar">
            <div id="top-left" style="color: #555">
                                    <a href="https://doc.iceframework.org" title="ice framework documentation" style="color: #444"><img src="https://www.iceframework.org/img/logo.png" alt="ice framework documentation" width="30" height="30"> ice doc</a> <span class="version">v1.6.0</span>
                            </div>
            <div id="top-right">
            </div>
        </div>
        <div id="body">
            <div id="body-left">
                <div class="header-search">
                    <input class="search-box" placeholder="Search for a class or namespace " type="text" />
                    <div id="menu-wrapper">
                    </div>
                </div>
            </div>
            <div id="body-right">
                <div class="content">
                    
<div class="breadcrumb">
    
    <ul>
        
        <li><a href="../../../../../../index.html">Home</a></li>
        
                <li><a href="../../../../../../classes.html">Classes</a></li>
                <li><a href="../../../../../../class/Ice/Mvc/View/Engine/Sleet/Compiler.html">Ice\Mvc\View\Engine\Sleet\Compiler</a></li>
                <li><a >Source</a></li>
                
    </ul>
    
</div>
<div class="class-header source clearfix">

    <div class="access-buttons">
        <a class="zep-button" href="../../../../../../class/Ice/Mvc/View/Engine/Sleet/Compiler.html">Class</a>

                <a class="zep-button"
           href="https://github.com/ice/framework/tree/dev/ice/mvc/view/engine/sleet/compiler.zep">
            Github
        </a>
            </div>

    <div class="class-full-name">
        <span class="class-type">Class</span>

                <span class="namespace-piece">
            <a href="../../../../../../namespace/Ice.html">Ice</a>
        </span>
                <span class="namespace-piece">
            <a href="../../../../../../namespace/Ice/Mvc.html">Mvc</a>
        </span>
                <span class="namespace-piece">
            <a href="../../../../../../namespace/Ice/Mvc/View.html">View</a>
        </span>
                <span class="namespace-piece">
            <a href="../../../../../../namespace/Ice/Mvc/View/Engine.html">Engine</a>
        </span>
                <span class="namespace-piece">
            <a href="../../../../../../namespace/Ice/Mvc/View/Engine/Sleet.html">Sleet</a>
        </span>
        
        <h1 class="class-name">Compiler</h1>
    </div>

</div>

<pre class="zephir-source-file prettyprint linenums">
    
namespace Ice\Mvc\View\Engine\Sleet;

/**
 * Sleet file compiler.
 *
 * @package     Ice/View
 * @category    Component
 * @author      Ice Team
 * @copyright   (c) 2014-2020 Ice Team
 * @license     http://iceframework.org/license
 */
class Compiler
{
    protected view;
    protected content;
    protected parsed;
    protected parser { get };

    const NEVER = 0;
    const NOT_EXIST = 1;
    const IF_CHANGE = 2;
    const ALWAYS = 3;

    /**
     * Sleet compiler constructor. Set the view and parser.
     *
     * @param mixed view
     */
    public function __construct(view = null)
    {
        let this->view = view,
            this->parser = new Parser();
    }

    /**
     * Compile the file.
     *
     * @param string path
     * @return string Parsed content
     */
    public function compile(string path)
    {
        var content;

        let content = file_get_contents(path),
            this->content = content,
            this->parsed = this->parser->text(content);

        return this->parsed;
    }

    /**
     * Magic toString to get parsed content.
     */
    public function __toString()
    {
        return this->parsed;
    }
}
</pre>
                </div>
            </div>
        </div>
    </body>
</html>
