body {
    padding-top: 70px;
}

pre {
    padding: 0;
}

pre pre {
    background: transparent;
}

.menu-node {
    padding-left: 10px;
}

.menu-ns > a{
    font-weight: bold;
}

.method-details .method-signature h3.method-name{
    display: inline;
}

.class-header .class-full-name>.namespace-piece:after{
    content: ' \005C ';
    font-size: 14px;
    color: #999;
    margin-right:2px;
}

.namespace-header .namespace-full-name>*, .class-header .class-full-name>* {
    display: inline;
    font-weight: bold;
}

.namespace-header .namespace-name, .class-header .class-name {
    font-size: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #menu-wrapper {
        position: fixed;
    }
}